"" Source your .vimrc
"" This does not appear to be working
source '~/.dotfiles/.vimrc'

"" PLUGINS
set commentary
set surround
set NERDTree
set vim-paragraph-motion
set vim-indent-object

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=3

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" Find more examples here: https://jb.gg/share-ideavimrc

"
set ignorecase
set clipboard=unnamed  " yank and paste will use system clipboard
